<div class="ui green inverted top fixed menu">
  <div class="item header">
    ParkingWeb
  </div>
  {{#link-to 'parking' class='item'}} Estacionamientos {{/link-to}}
</div>
<div class="ui main container">
  {{outlet}}
</div>
